#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.form-body {
  background-color: black;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.form-body label {
  margin-left: 5px;
}

.email-input {
  display: flex;
  justify-content: left;
  margin-left: 15%;
  margin-bottom: 5px;
}


.password-input {
  display: flex;
  justify-content: left;
  margin-left: 15%;
  margin-bottom: 10px;
}

.btn {
  color: white;
}

.option a {
  margin-left: 5px;
}